{% extends "base.html" %}
{% block content %}
{% load static %}
    <div id="main-container" class="container clearfix">
        <section class="post-left">
            <div class="breadcrumb">您的位置： <a itemprop="breadcrumb" href="/">首页</a> » <span class="current">关于我们</span>
            </div>
            <div class="post-main clearfix">
                <h1 class="post-title">关于我们</h1>
                <div class="post-con clearfix">
                    <div class="article-meta"><span class="item">2020-03-15</span></div>
                    <article class="article-content">
                        <p>
                            1、本网站属于个人的非赢利性网站，转载的文章遵循原作者的版权声明，如果原文没有版权声明，按照目前互联网开放的原则，我们将在不通知作者的情况下，转载文章;如果原文明确注明“禁止转载”，我们一定不会转载。如果我们转载的文章不符合作者的版权声明或者作者不想让我们转载您的文章的话，请来信告知.</p>
                        <p>
                            2、本网站转载文章仅为传播更多信息之目的，凡在本网站出现的信息，均仅供参考。本网站将尽力确保所提供信息的准确性及可靠性，但不保证信息的正确性和完整性，且不对因信息的不正确或遗漏导致的任何损失或损害承担责任。</p>
                        <p>3、任何透过本网站网页而链接及得到的资讯、产品及服务，本网站概不负责，亦不负任何法律责任。</p>
                        <p>
                            4、本网站所刊发、转载的文章，其版权均归原作者所有，如其他媒体、网站或个人从本网下载使用，请在转载有关文章时务必尊重该文章的著作权，保留本网注明的“稿件来源”，并自负版权等法律责任。</p>
                        <div>网站声明</div>
                        <hr>
<p>当您在访问本网站之前，请务必仔细阅读本免责声明；您访问本网站以及通过各类方式利用、浏览本网站，都将被视作是对本声明全部内容的认可。</p>
1、您从事与本网站相关的行为(包括但不限于访问浏览、利用、转载、宣传介绍)，必须以善意且谨慎的态度行事;您不得故意或者过失的损害本网站的各类合法权益，不得利用本网站以任何方式直接或者间接地违反中华人民共和国法律、国际公约以及社会公德。<br>
2、（免责申明）本网站刊载的各类文章、广告、您在本网站发表的观点以及以链接形式推荐的其他网站内容，图片及资料内容来源于网络，由我方整理，版权归原作者及其公司所有；本资料仅供学习研究之用，不得用作于商业用途，若此图库、文章侵犯到您的权益，请与我们联系删除。<br>
3、本网站若因线路及本网站控制范围外的硬件故障或因本网站订定系统停机维护期间而导致暂停服务，于暂停服务期间给用户造成的一切损失，本网站不承担任何法律责任。<br>
4、由于黑客攻击、电信部门技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟，本网站不承担任何法律责任。<br>
5、如因不可抗力或其它无法控制的原因造成网站销售系统崩溃或无法正常使用，从而导致网上交易无法完成或丢失有关的信息、记录等，网站将不承担责任。但是我们将会尽合理的可能协助处理善后事宜，并努力使客户减少可能遭受的经济损失。<br>
6、除本网站注明之服务条款外，其他一切因使用本网站而引致之任何意外、疏忽、诽谤、版权或知识产权侵犯及其所造成的损失(包括因下载而感染电脑病毒)，本网站不承担任何法律责任。<br>
<br>
注意：凡是在本站下载的PPT、PDF、原创文章、原创图片（不包含转载）请勿用于商业用途，转载请注明来源地址。（转载未标注来源，被索引到，必究法律责任）
<p>有任何版权问题联系删除：13926161549</p>
                    </article>

                </div>

            </div>
            <!-- /文章 -->
        </section>
        <!-- /post-left -->
        <!-- /post-right -->
        <aside class="post-right hidden-xs">
            <!-- /关注我们 -->
            <div class="post-right-item">
                <h4 class="post-right-title">关注我们</h4>
                <div class="wid-about">
                    <p>拓普Python学院，欢迎关注！</p>
                    <img src="{% static "picture/weixinqr.jpg" %}" width="160" height="160">
                </div>
                <div class="wid-about">
                    <p><strong>联系方式:</strong></p>
                    <p>QQ:1228735902</p>
                    <p>Email：1228735902@qq.com</p>
                </div>
            </div>

        </aside>
    </div>
    <!-- /主体 -->
    <!-- 底部 -->
{% endblock %}